# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
ENV/
.env/
.env
.venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter
.ipynb_checkpoints/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# User secrets and configs
.env
*.env

# OneDrive
~$*
